<p>
    You know, <span
        class="text">continuation indent</span> is important.
</p>
{% if foo %}
    <p>
        You know, <span
            class="text">continuation indent</span> is important.
    </p>
{% endif %}